@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


.title {
    font-family: 'Grand Hotel', cursive;
}

.icons {
    width: 15vw;
}
.start-bar {
    padding-top: 15px;
    justify-content: center;
}

hr {
    margin: 0;
}