<nav class="start-bar container d-flex justify-content-between">
  <div>
    <h1 class="title">
      <a routerLink="/">Instagrone</a>
    </h1>
  </div>
  <div class="search">
      <input type="text" placeholder="Pesquisar" value="">
  </div>
  <div class="icons d-flex justify-content-between">
    <a routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
    <a routerLink="/direct">
      <mat-icon>send</mat-icon>
    </a>
    <a routerLink="/explore">
      <mat-icon>explore</mat-icon>
    </a>
    <mat-icon id="favorite">favorite_border</mat-icon>
    <mat-icon id="face">face</mat-icon>
  </div>
</nav>
<hr>
