<nav class="start-bar container d-flex justify-content-between">
  <div>
    <h1 class="title">Instagrone</h1>
  </div>
  <div class="search">

    <input type="text" name="search" placeholder="Pesquisar">
  </div>
  <div class="icons d-flex justify-content-between">
    <a routerLink="/">
      <mat-icon style="font-size: 30px;">home</mat-icon>
    </a>
    <mat-icon style="font-size: 30px;">send</mat-icon>
    <mat-icon style="font-size: 30px;">explore</mat-icon>
    <mat-icon style="font-size: 30px;">favorite_border</mat-icon>
    <mat-icon style="font-size: 30px;">face</mat-icon>
  </div>
</nav>
<hr>
