@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.title {
  font-family: 'Grand Hotel', cursive;
  font-size: 36px;
}

.icons {
  width: 15vw;

  mat-icon {
    font-size: 28px;
  }
}

.start-bar {
  padding-top: 15px;
}

hr {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  width: 200px;
  padding-left: 75px;
  box-sizing: border-box;
  background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-128.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 57px 0;
  border-radius: 3px;
  border-color: #DBDBDB;
  border-width: 1px;
  background-color: #fafafa;
  color: #DBDBDB;
  
}
input:focus {
  padding-left: 16px;
  background-position: 0;
  transition: all 0.05s ease-in-out;
}

